div {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0px;
}

html {
    height: 100%;
    overflow: hidden;
}

body { 
    background-color: whitesmoke;
    height: 100%;
    margin:0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding:0;
    perspective: 1px;
    transform-style: preserve-3d;
}

p {
    color: #333;
    font-size: 140%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 150%;
    margin: 0px;
}

.slide {
    box-sizing: border-box;
    height: 100vh;
    /*min-width: 100vw;*/
    /*padding: 25vh 10%;*/
    transform-style: inherit;
}

.slide:before {
    bottom: 0;
    content: "";
    position: absolute;
    left:0;
    right:0;
    top: 0;
    width: 0px;
}

.slide, .slide:before {
    background: 0 50% / cover;  
}

#test {
    position: fixed;
    top: 10px;
}

#background_image {
    background-attachment: fixed;
    background-image: url("skyline.jpg");
    background-position: 0% 0px;
    height: 75%;
}

#slide1:before {
    transform: translateY(-1px);
    z-index:-1;
}

#slide1 {
    padding: 0;
}

.text_container {
    padding: 0px 3em;
}

#name_bar_container {
    position: relative;
    top: 0px;
    transition: all 1s ease-in-out;
}
#name_bar_container.top_animated {
    background-color: rgba(0,0,0,.9);
    box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.75);
    transition: background-color 1s ease-in-out, top 0s, box-shadow 1s ease-in-out;
}

#name_centerer {
    width: 100%;
    margin: 0 auto;
    transition: all 1s ease-in-out;
}

#name_centerer.top_animated {
    width: 500px;
    transition: all 1s ease-in-out 1s;
}


#name {
    background-color: rgba(10,10,10,.7);
    color: rgb(240,240,240);
    display: inline-block;
    font-size: 60px;
    margin-top: -230px;
    /* min-width: 387px; */
    padding-left: 1%;
    padding-right: 1%;
    position: absolute;
    transition: background-color 1s ease-in-out .5s, margin-top 1s ease-in-out 1s, padding-left 1s ease-in-out;
}
#name.top_animated{
    background-color: rgba(0,0,0,0);
    margin-top: 0px;
    /*padding-left: 4em;*/
    transition: background-color 1s ease-in-out, margin-top 1s ease-in-out, padding-left 1s ease-in-out 1s;
}

#im_container {
    height: 121px;
    margin-left: 50%;
    position: relative;
    transition: all 1s ease-in-out;
    font-size: 60px;
}
#im_container.top_animated {
    height: 69px;
    margin-left: 7em;
    transition: all 1s ease-in-out;
}

#profile {
    border-radius: 50%;
    margin-bottom: -30px;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    transition: border-radius 0s, margin-top 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out, margin-left 1s ease-in-out;
}
#profile.top_animated {
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
    width: 69px;
    height: 69px;
    transition: border-radius 1s ease-in-out 1s, margin-top 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out, margin-left 1s ease-in-out;
}

#logos {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 150px;
    width: 285px;
}

.logo {
    border-radius: 50%;
    margin: 0px 20px;
    height: 100px;
    width: 100px;
}
