.box {
  z-index: 1;
  position: absolute !important;
}
#box1 {
    border: 2px solid red;
    width: 30%;
    height: 50%;
    top: 20%;
    left: 35%;
}
#box2 {
    border: 2px solid black;
    width: 40%;
    height: 50%;
    top: 25%;
    left: 30%;
}
#IOU {
  padding-top: 1em;
}
#IOU, #Explanation{
    position: relative;
    font-size: 2em;
    width: 100%;
    text-align: center;
}
